# Documentação oficial: https://docs.github.com/get-started/getting-started-with-git/ignoring-files

# -------------------------
# Compilação / Build output
# -------------------------
dist/
tmp/
out-tsc/
bazel-out/
bin/
obj/

# -------------------------
# Node.js
# -------------------------
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# -------------------------
# IDEs e editores
# -------------------------
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json
.history/

# -------------------------
# Angular / Frontend
# -------------------------
.angular/
.angular/cache/
.sass-cache/
connect.lock
coverage/
libpeerconnection.log
testem.log
typings/
__screenshots__/

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# Arquivos de sistema
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# SQLite
# -------------------------
*.db
*.db-shm
*.db-wal