.toolbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

table {
    width: 100%;
}

.selected {
    background-color: #e3f2fd
}

.loading {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.empty {
    text-align: center;
    padding: 20px;
    color: gray;
}